<li>
	{{drink_name}}

	<button class="change-tried" data-id="{{id}}" data-tried="{{tried}}">
		{{#if tried}}I LIKE!{{else}}Lets try this!{{/if}}
	</button>

	<button class="delete-drink" data-id="{{id}}">Nah, delete</button>
</li>
